.container {
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	left: 0;
	top: 0;
	background: linear-gradient(45deg, #353535, #494949, #272727);
}

.logoContainer {
	position: relative;
	display: flex;
	align-items: center;
	margin: 0.2rem 0.5rem;
}

.title {
	margin: 0.3rem 0 0.5rem 0.5rem;
}

.nav {
	margin: 1rem 2rem;
}

.nav a {
	margin-left: 0.8rem;
}
