.container {
	position: fixed;
	top: 0;
	display: flex;
	width: 100vw;
	align-items: center;
	justify-content: space-between;
	background-color: #181a1b;
}

.logo {
	margin-left: 1rem;
	cursor: pointer;
}

nav {
}

nav a {
	margin-right: 1rem;
}
